@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  color: #21242D;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FDF7FD;
}

.dark html,
.dark body {
  color: #E6E6E5;
  background-color: #16181E;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

#hero {
  overflow-x: hidden;
  overflow-y: scroll;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* scrollable react tabs css */
.rts___tab.rts___btn {
  border: 1px solid;
  border-color: rgba(229, 231, 235, 0.1);
  background-color: #252836;
  font-size: 14px;
}

.rts___btn.rts___nav___btn {
  border: 1px solid;
  border-color: rgba(229, 231, 235, 0.5);
  background-color: #252836;
  margin: 10px;
}

.rts___tabs.hide___rts___tabs___scroll{
  margin: 0 12px;
}

.rts___btn.rts___nav___btn:hover{
  background-color: transparent;
  border-color: #5CFEF0;
  transform: scale(1.03);
  transition: transform 0.3s ease
}

.rts button:disabled.rts___btn svg, .rts___nav___btn:disabled svg, button[disabled].rts___btn svg {
  stroke: rgba(230, 230, 229, 0.2) !important;
}

.button:disabled.rts___btn, .rts___nav___btn:disabled, button[disabled].rts___btn {
  cursor: not-allowed;
  border-color: rgba(229, 231, 235, 0.1) !important;
  pointer-events: none;
}

/* loading spinner */
.sweet-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
