@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  color: #21242D;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FDF7FD;
}

.dark html,
.dark body {
  color: #E6E6E5;
  background-color: #16181E;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

#hero {
  overflow-x: hidden;
  overflow-y: scroll;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}